.container {
    max-width: 1040px;
    height: auto;
    margin: 80px auto 6rem;
    color: white;
}
  
.article {
    margin: 40px 50px 75px ;
}
.backToHome {
    margin: 44px;
    
}

.title {
    margin: 140px 50px 75px ;
}

